/*


--- 01 TYPOGRAPHY SYSTEM

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights
Default: 400
Medium: 500
Semi-bold: 600
Bold: 700

- Line heights
Default: 1
Small: 1.05
Medium: 1.2
Paragraph M: 1.6
Paragraph L: 1.8

- Letter spacing


--- 02 COLORS

- Primary
*/
:root {
    --primary-color: #76bfc4;
}
/*
- Tints
*/
:root {
    --primary-color--tint-90: #f1f9f9;
}
/*
- Shades

- Accents

- Greys


--- 03 SHADOWS


--- 04 BORDER RADIUS


--- 05 WHITESPACE

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128


*/

*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    /* 10px / 16px = 0.625 = 62.5% */
    /* Percentage of users browser font-size settings */
    /* It is able to use easy px to rem ratio that 1 rem = 10 px */
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    font-family: "Nunito", sans-serif;
    font-weight: 400;
    line-height: 1;
    color: #555;
    overflow-x: hidden;
}

.heading-primary,
.heading-secondary,
.heading-tertiary {
    color: #333;
    font-weight: 700;
    letter-spacing: -0.5px;
}

.heading-primary {
    font-size: 5.2rem;
    line-height: 1.05;
    margin-bottom: 3.2rem;
}
