/*
rem and em do NOT depend on html font-size in media queries
Instead, 1rem = 1em = 16px
*/


/*************************************/
/* BELOW 1344px (Smaller desktops) */
/*************************************/
@media (max-width: 84em) {
    .hero {
        max-width: 120rem;
    }

    .heading-primary {
        font-size: 4.4rem;
    }

    .pricing-card {
        width: 80%;
    }
}

/*************************************/
/* BELOW 1200px (Landscape tablets) */
/*************************************/
@media (max-width: 75em) {
    html {
        font-size: 56.25%;
    }

    .grid {
        column-gap: 4.8rem;
    }

    .heading-secondary {
        font-size: 3.6rem;
    }

    .heading-tertiary {
        font-size: 2.4rem;
    }

    .main-nav-list {
        gap: 3.2rem;
    }

    .header {
        padding: 0 3.2rem;
    }

    .hero {
        gap: 4.8rem;
    }

    .pricing-card {
        width: 85%;
    }
}

/*************************************/
/* BELOW 944px (Tablets) */
/*************************************/
@media (max-width: 59em) {
    html {
        /* 8px / 16px = 0.5 = 50% */
        font-size: 50%;
    }

    .hero {
        grid-template-columns: 1fr;
        padding: 0 8rem;
        gap: 6.4rem;
    }

    .hero-img {
        width: 75%;
    }

    .hero-text-box,
    .hero-img-box {
        text-align: center;
    }

    .families-satisfied {
        justify-content: center;
        margin-top: 3.2rem;
    }

    .featured-img {
        height: 8rem;
    }

    .pricing-card {
        width: 90%;
    }

    .grid--4-cols {
        grid-template-columns: repeat(2, 1fr);
    }

    .cta {
        grid-template-columns: 5fr 4fr;
    }

    .cta-form {
        grid-template-columns: 1fr;
    }

    .cta-form-textarea-box,
    .cta-form-checkbox-box {
        grid-column: auto;
    }

    /* MOBILE NAVIGATION */
    .btn-mobile-nav {
        display: block;
    }

    .main-nav {
        background-color: var(--grey-color--f--alpha95);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        transform: translateX(100%);

        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.5s ease-in;

        opacity: 0;
        pointer-events: none;
        visibility: hidden;
    }

    .nav-open .main-nav {
        opacity: 1;
        pointer-events: auto;
        visibility: visible;
        transform: translateX(0);
    }

    .nav-open .icon-mobile-nav[name="close"] {
        display: block;
    }

    .nav-open .icon-mobile-nav[name="menu"] {
        display: none;
    }

    .main-nav-list {
        flex-direction: column;
        gap: 4.8rem;
    }

    .main-nav-link:is(:link, :visited) {
        font-size: 3rem;
    }
}

/*************************************/
/* BELOW 704px (Smaller tablets) */
/*************************************/
@media (max-width: 44em) {
    .grid--3-cols {
        grid-template-columns: repeat(2, 1fr);
    }

    .grid--2-cols {
        grid-template-columns: 1fr;
    }

    .heading-secondary {
        margin-bottom: 4.8rem;
    }

    .bio {
        grid-template-columns: 1fr;
        row-gap: 1.2rem;
        justify-items: center;
    }

    .bio-img {
        border-radius: var(--border-radius--8) var(--border-radius--8) 0 0;
    }

    .bio-img-box {
        width: 80%;
    }

    .bio-text-box {
        border-radius: 0 0 var(--border-radius--8) var(--border-radius--8);
    }

    .offer-img-box:nth-child(2) {
        grid-row: 1;
        margin-top: 4.8rem;
    }

    .offer-img-box:nth-child(6) {
        grid-row: 5;
    }

    .offer-img-box:nth-child(10) {
        grid-row: 9;
    }

    .offer-img-box {
        transform: translateY(2.4rem);
    }

    .cta {
        grid-template-columns: 1fr;
    }

    .cta-img-box {
        height: 64rem;
        grid-row: 1;
    }

    .cta-text-box {
        padding: 3.2rem;
    }

    .grid-footer {
        grid-template-columns: repeat(6, 1fr);
    }

    .pricing-card {
        width: 60%;
        justify-self: center;
    }

    .footer-logo-col {
        grid-column: span 3;
    }

    .footer-address-col {
        grid-column: span 3;
    }

    .footer-nav-col {
        grid-row: 2;
        grid-column: 1 / -1;
        justify-self: center;
    }
}

/*************************************/
/* BELOW 544px (Phones) */
/*************************************/
@media (max-width: 34em) {
    .grid--3-cols,
    .grid--4-cols {
        grid-template-columns: 1fr;
    }

    .grid {
        row-gap: 4.8rem;
    }

    .btn,
    .btn:is(:link, :visited) {
        padding: 2.4rem 1.6rem;
    }

    .header {
        height: 10.6rem;
    }

    .logo {
        height: 10.2rem;
    }

    .section-hero {
        padding: 2.4rem 0 6.4rem;
    }

    .hero {
        padding: 0 3.2rem;
    }

    .hero-img {
        width: 95%;
    }

    .offer-img {
        width: 50%;
    }

    .offer-img-box {
        margin: 2.4rem 0 4.8rem;
    }

    .offer-img-box::after {
        width: 58%;
    }

    .offer-img-box::before {
        width: 64%;
    }

    .pricing-card {
        width: 80%;
    }

    .cta-img-box {
        height: 48rem;
    }

    .grid-footer {
        grid-template-columns: 1fr;
    }

    .footer-nav-col {
        grid-row: auto;
        justify-self: auto;
    }
}

/*************************************/
/* BELOW 400px (Old Phones) */
/*************************************/
@media (max-width: 25em) {
    .pricing-card {
        width: 95%;
    }
}