/*************************************/
/* HEADER SECTION */
/*************************************/

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary-color--tint-90);

    /* Because of sticky header */
    height: 16.0rem;
    padding: 0 4.8rem;
    position: relative;
}

.logo {
    height: 15.4rem;
}

/*************************************/
/* NAVIGATION SECTION */
/*************************************/

.main-nav-list {
    display: flex;
    align-items: center;
    gap: 4.8rem;

    list-style-type: none;
}

.main-nav-link:is(:link, :visited) {
    display: inline-block;

    color: var(--grey-color--3);
    font-size: 2rem;
    font-weight: 500;
    text-decoration: none;

    transition: all 0.3s;
}

.main-nav-list li:nth-child(1) .main-nav-link:hover {
    color: var(--tertiary-color--shade-10);
}

.main-nav-list li:nth-child(2) .main-nav-link:hover {
    color: var(--primary-color--shade-10);
}

.main-nav-list li:nth-child(3) .main-nav-link:hover {
    color: var(--secondary-color--shade-10);
}

.main-nav-link.nav-cta:is(:link, :visited) {
    color: var(--grey-color--f);
    background-color: var(--grey-color--3);
    padding: 1.2rem 2.4rem;
    border-radius: var(--border-radius--8);
}

.main-nav-link.nav-cta:is(:hover, :active) {
    background-color: var(--tertiary-color--shade-10);
}

/* MOBILE */
.btn-mobile-nav {
    border: none;
    background: none;
    cursor: pointer;
    display: none;
}

.icon-mobile-nav {
    height: 4.8rem;
    width: 4.8rem;
    color: var(--grey-color--3);
}

.icon-mobile-nav[name="close"] {
    display: none;
}

/* STICKY NAVIGATION */

.sticky {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
    background-color: var(--primary-color--tint-90);
    z-index: 9999;
    /* TODO tohle musí být v proměnné a taky tam udělat efekt obálky*/
    box-shadow: 0 1.2rem 2.4rem -2.4rem rgba(0, 0, 0, 0.8);
}

/*************************************/
/* HERO SECTION */
/*************************************/

.section-hero {
    background-color: var(--primary-color--tint-90);
    padding: 4.8rem 0 9.6rem 0;
}

.hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 9.6rem;
    align-items: center;

    margin: 0 auto;
    padding: 0 3.2rem;
    max-width: 130rem;
}

.hero-description {
    font-size: 2rem;
    line-height: 1.6;
    margin-bottom: 4.8rem;
}

.hero-img {
    width: 100%;
    border-radius: var(--border-radius--8);
}

.families-satisfied {
    display: flex;
    align-items: center;
    margin-top: 8rem;
    gap: 1.6rem;
}

.families-customers {
    display: flex;
}

.families-customers img {
    width: 4.8rem;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 3px solid var(--primary-color--tint-90);
    margin-right: -1.6rem;
}

.families-customers img:last-child {
    margin: 0;
}

.families-satisfied-text {
    font-size: 1.8rem;
    font-weight: 600;
}

.families-satisfied-text span {
    color: var(--primary-color--shade-10);
    font-weight: 700;
}

/*************************************/
/* FEATURED IN SECTION */
/*************************************/

.section-featured {
    padding: 4.8rem 0 3.2rem 0;
}

.heading-featured {
    font-size: 1.4rem;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    color: var(--grey-color--8);
    letter-spacing: 0.75px;
    margin-bottom: 2.4rem;
}

.featured-img-box {
    display: flex;
    justify-content: space-around;
}

.featured-img {
    height: 9.6rem;
    filter: brightness(0);
    opacity: 50%;
}

/*************************************/
/* BIO SECTION */
/*************************************/

.section-bio {
    padding: 9.6rem 0;
}

.bio-subtitle {
    color: var(--secondary-color--shade-10);
}

.bio {
    display: grid;
    column-gap: 1.2rem;
    grid-template-columns: 33fr 66fr;
}

.bio-img {
    width: 100%;
    border-radius: var(--border-radius--8) 0 0 var(--border-radius--8);
    box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
}

.bio-text-box {
    color: var(--secondary-color--tint-90);
    background-color: var(--secondary-color--shade-50);
    padding: 2.4rem;
    border-radius: 0 var(--border-radius--8) var(--border-radius--8) 0;
    box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
}

.bio-text, .bio-ending {
    font-size: 1.8rem;
    line-height: 1.2;
    margin-bottom: 0.8rem;
}

.bio-ending {
    margin-bottom: 0;
}

.bio-ending span {
    font-weight: 600;
}

/*************************************/
/* OFFER SECTION */
/*************************************/

.section-offer {
    padding: 9.6rem 0;
}

.offer-subtitle {
    color: var(--tertiary-color--shade-10);
}

.offer-description {
    font-size: 1.8rem;
    line-height: 1.8;
}

.offer-img-box {
    display: flex;
    align-items: center;
    justify-content: center;
    /*padding: 12.8rem 0;*/

    position: relative;
}

.offer-img-box::before,
.offer-img-box::after {
    content: "";
    display: block;
    aspect-ratio: calc(4 / 6);
    border-radius: var(--border-radius--8);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.offer-img-box::before {
    width: 52%;
    background-color: var(--tertiary-color--tint-90);
    z-index: -100;
}

.offer-img-box::after {
    width: 46%;
    background-color: var(--tertiary-color--tint-80);
    z-index: -50;
}

.offer-img {
    width: 40%;
    border-radius: var(--border-radius--8);
    box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.25);
}

/*************************************/
/* PRICING SECTION */
/*************************************/

.section-pricing {
    padding: 9.6rem 0;
}

.pricing-subtitle {
    color: var(--primary-color--shade-10);
}

.pricing-card {
    padding: 4.8rem;
    width: 75%;
    border-radius: 12px;
    position: relative;
}

.pricing-card-left {
    justify-self: end;
}

.pricing-card--common {
    padding: 4.6rem;
    border: 0.2rem solid var(--primary-color--tint-60);
    background-color: var(--primary-color--tint-90);
}

.pricing-card--epic {
    background-color: var(--primary-color--tint-60);
}

.header-pricing {
    text-align: center;
    margin-bottom: 4.8rem;
}

.pricing-name {
    font-size: 2.0rem;
    color: var(--primary-color--shade-30);
    text-transform: uppercase;
    font-weight: 600;
    min-height: 4rem;
    margin-bottom: 1.6rem;
    letter-spacing: 0.75px;
}

.pricing-price-box {
    display: flex;
    height: calc(6.2rem + 1.4rem);
    flex-direction: column;
    margin-bottom: 1.2rem;
}

.pricing-price {
    font-size: 6.2rem;
    font-weight: 600;
    color: var(--grey-color--3);
}

.pricing-price span {
    font-size: 3rem;
    margin-left: 0.4rem;
}

.pricing-additional-price {
    font-size: 1.4rem;
    color: var(--grey-color--5);
}

.pricing-text {
    font-size: 1.6rem;
    line-height: 1.6;
}

.pricing-details {
    font-size: 1.6rem;
    line-height: 1.6;
    text-align: center;
}

.pricing-feature-icon {
    color: var(--primary-color);
    width: 3.2rem;
    height: 3.2rem;
    padding: 1.6rem;
    background-color: var(--primary-color--tint-90);
    margin-bottom: 3.2rem;
    border-radius: 50%;
}

.pricing-feature-title {
    font-size: 2.4rem;
    color: var(--grey-color--3);
    font-weight: 700;
    margin-bottom: 1.6rem;
}

.pricing-feature-text {
    font-size: 1.8rem;
    line-height: 1.8;
}

/*************************************/
/* TESTIMONIALS SECTION */
/*************************************/

.section-testimonials {
    padding: 9.6rem 0;
    background-color: var(--secondary-color--tint-90);
}

.testimonials-subtitle {
    color: var(--secondary-color--shade-10);
}

.testimonial-gallery {
    gap: 8rem;
}

.testimonial-gallery-item {
    border-radius: var(--border-radius--8);
    overflow: hidden;
}

.testimonial-gallery-item img {
    display: block;
    width: 100%;
    transition: all 0.4s;
}

.testimonial-gallery-item img:hover {
    transform: scale(1.1);
}

/*************************************/
/* CTA SECTION */
/*************************************/

.section-cta {
    padding: 12.8rem 0;
}

.cta {
    display: grid;
    grid-template-columns: 2fr 1fr;
    box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
    border-radius: 12px;
    overflow: hidden;

    background-image: linear-gradient(to right bottom, var(--tertiary-color--tint-20), var(--tertiary-color));
}

.cta-text-box {
    color: var(--tertiary-color--shade-70);
    padding: 4.8rem 6.4rem 6.4rem 6.4rem;
}

.cta .heading-secondary {
    color: inherit;
    margin-bottom: 3.2rem;
}

.cta-text {
    font-size: 1.8rem;
    line-height: 1.8;
    margin-bottom: 4.8rem;
}

.cta-img-box {
    background-image: linear-gradient(to right bottom, var(--tertiary-color--tint-20--alpha35), var(--tertiary-color--alpha35)),
    url("../img/cta/cta.jpg");
    background-size: cover;
    background-position: top;

    /*  Because of weird graphic render  */
    width: 101%
}

.cta-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 3.2rem;
    row-gap: 2.4rem;
}

.cta-form label {
    display: block;
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 1.2rem;
}

.cta-form-text-box input,
.cta-form textarea {
    width: 100%;
    resize: none;
    padding: 1.2rem;
    font-size: 1.8rem;
    font-family: inherit;
    color: inherit;
    border: none;
    background-color: var(--tertiary-color--tint-90);
    border-radius: var(--border-radius--8);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.cta-form textarea::-webkit-scrollbar {
    width: 1.6rem;
}

.cta-form textarea::-webkit-scrollbar-track {
    border-radius: var(--border-radius--8);
    background: var(--tertiary-color--tint-90);
}

.cta-form textarea::-webkit-scrollbar-thumb {
    cursor: context-menu;
    border-radius: var(--border-radius--8);
    background-color: var(--tertiary-color);
    border: 0.3rem solid var(--tertiary-color--tint-90);
}

.cta-form textarea::-webkit-scrollbar-thumb:hover {
    background-color: var(--tertiary-color--shade-70);
}

.cta-form-textarea-box {
    grid-column: span 2;
}

.cta-form-checkbox-box {
    grid-column: span 2;
    display: flex;
    align-items: center;
    gap: 1.6rem;
}

.cta-form-checkbox-box label {
    margin: 0;
}

.cta-form-checkbox-box input {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    min-width: 2.4rem;
    aspect-ratio: 1;
    border-radius: var(--border-radius--8);
    background-color: var(--tertiary-color--tint-90);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cta-form-checkbox-box input::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    /* TODO tohle jde vyřešit i přímo svg do html */
    background: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="black" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" %3E%3Cpolyline points="20 6 9 17 4 12"/%3E%3C/svg%3E') center center no-repeat;
    background-size: 2rem;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.cta-form-checkbox-box input:checked::before {
    opacity: 1;
}

.cta-form input::placeholder {
    color: var(--grey-color--a);
}

.cta *:focus {
    outline: none;
    box-shadow: 0 0 0 0.8rem var(--tertiary-color--tint-90--alpha50);
}

/* SUBMIT MODAL WINDOW */

.response-modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
    z-index: 5;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;

    background-color: var(--grey-color--f);
    padding: 6rem;
    border-radius: var(--border-radius--8);
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
    z-index: 10;

    display: flex;
    flex-direction: column;
}

.modal-message {
    font-size: 3rem;
    line-height: 1.05;
    color: var(--grey-color--3);
    font-weight: 500;

    display: flex;
    justify-content: center;
}

/*************************************/
/* FOOTER */
/*************************************/

.footer {
    padding: 12.8rem 0;
    border-top: solid 1px #eee;
}

.grid-footer {
    grid-template-columns: 1fr 1.5fr 1.5fr;
}

.footer-logo-col {
    display: flex;
    flex-direction: column;
}

.footer-heading {
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 4rem;
}

.footer-logo {
    display: block;
    margin-bottom: 2.4rem;
}

.footer-logo .logo {
    height: 9.6rem;
}

.social-links {
    display: flex;
    list-style: none;
    gap: 2.4rem;
    margin-bottom: 2.4rem;
}

.social-link-icon {
    height: 2.4rem;
    width: 2.4rem;
}

.copyright {
    font-size: 1.4rem;
    color: var(--grey-color--76);
    line-height: 1.6;
    margin-top: auto;
}

.footer-link:is(:link, :visited) {
    color: var(--grey-color--76);
    font-size: 1.6rem;
    text-decoration: none;

    transition: all 0.3s;
}

.footer-link:is(:hover, :active) {
    color: var(--grey-color--5);
}

.contacts {
    font-size: 1.6rem;
    font-style: normal;
    line-height: 1.6;
}

.address {
    margin-bottom: 2.4rem;
}

.address-name {
    margin-bottom: 0.8rem;
}

.footer-nav {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    list-style: none;
}